<table>
    <thead>
      <tr>
        <th>Machine Learning Model</th>
        <th>R2 score</th>
        <th>MSE</th>
        <th>RMSE</th>
        <th>MAE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linear Regression</td>
        <td>0.98438</td>
        <td>1.84479</td>
        <td>1.35823</td>
        <td>0.41999</td>
      </tr>
      <tr>
        <td>Huber Regressor</td>
        <td>0.97997</td>
        <td>2.36503</td>
        <td>1.53787</td>
        <td>0.23481</td>
      </tr>
      <tr>
        <td>Linear Regression with Quadratic Features</td>
        <td>0.98443</td>
        <td>1.83862</td>
        <td>1.35596</td>
        <td>0.44821</td>
      </tr>
      <tr>
        <td>Lasso Regression (Elastic Net with l1_ratio=1)</td>
        <td>0.98397</td>
        <td>1.89338</td>
        <td>1.37600</td>
        <td>0.42761</td>
      </tr>
      <tr>
        <td>Elastic Net with Polynomial Features</td>
        <td>0.97814</td>
        <td>2.58095</td>
        <td>1.60653</td>
        <td>0.50331</td>
      </tr>
      <tr>
        <td>Decision Tree Regression</td>
        <td>0.93394</td>
        <td>7.80085</td>
        <td>2.79300</td>
        <td>0.88348</td>
      </tr>
      <tr>
        <td>Random Forest Regression</td>
        <td>0.96524</td>
        <td>4.10408</td>
        <td>2.02585</td>
        <td>0.59007</td>
      </tr>
      <tr>
        <td>Support Vector Regression</td>
        <td>0.98042</td>
        <td>2.31166</td>
        <td>1.52041</td>
        <td>0.26166</td>
      </tr>
      <tr>
        <td>Multilayer Perceptron Regressor</td>
        <td>0.98419</td>
        <td>1.86722</td>
        <td>1.36646</td>
        <td>0.49410</td>
      </tr>
      <tr>
        <td>Sequential Neural Network </td>
        <td>0.98136</td>
        <td>2.20120</td>
        <td>1.48364</td>
        <td>0.44678</td>
      </tr>
    </tbody>
    </table>