<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="5">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>n_estimators</td>
        <td colspan="2">25</td>
        <td colspan="2">50</td>
        <td>100</td>
      </tr>
      <tr>
        <td>max_features</td>
        <td colspan="2">auto</td>
        <td colspan="3">sqrt</td>
      </tr>
      <tr>
        <td>max_depth</td>
        <td colspan="2">80</td>
        <td colspan="2">100</td>
        <td>120</td>
      </tr>
      <tr>
        <td>min_samples_split</td>
        <td colspan="2">1</td>
        <td colspan="2">5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>min_samples_leaf</td>
        <td colspan="2">1</td>
        <td colspan="2">5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>bootstrap</td>
        <td colspan="2">True</td>
        <td colspan="3">False</td>
      </tr>
    </tbody>
    </table>