<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="4">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>C</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>10</td>
      </tr>
      <tr>
        <td>Kernel</td>
        <td colspan="2">linear</td>
        <td colspan="2">rbf</td>
      </tr>
    </tbody>
    </table>