<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="5">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>max_features</td>
        <td colspan="2">auto</td>
        <td colspan="3">sqrt</td>
      </tr>
      <tr>
        <td>max_depth</td>
        <td>10</td>
        <td>45</td>
        <td>80</td>
        <td>115</td>
        <td>150</td>
      </tr>
      <tr>
        <td>min_samples_split</td>
        <td colspan="2">2</td>
        <td colspan="2">5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>min_samples_leaf</td>
        <td>1</td>
        <td>3</td>
        <td>5</td>
        <td>7</td>
        <td>10</td>
      </tr>
      <tr>
        <td>max_leaf_nodes</td>
        <td>10</td>
        <td>45</td>
        <td>80</td>
        <td>115</td>
        <td>150</td>
      </tr>
    </tbody>
    </table>