<table>
    <thead>
      <tr>
        <th>Machine Learning Model</th>
        <th>R2 score</th>
        <th>MSE</th>
        <th>RMSE</th>
        <th>MAE</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linear Regression</td>
        <td>0.23202</td>
        <td>90.68742</td>
        <td>9.52299</td>
        <td>4.79592</td>
      </tr>
      <tr>
        <td>Huber Regressor</td>
        <td>0.15452</td>
        <td>99.83856</td>
        <td>9.99192</td>
        <td>4.38152</td>
      </tr>
      <tr>
        <td>Linear Regression with Quadratic Features</td>
        <td>0.56009</td>
        <td>51.94693</td>
        <td>7.20742</td>
        <td>4.27266</td>
      </tr>
      <tr>
        <td>Lasso Regression (Elastic Net with l1_ratio=1)</td>
        <td>0.23450</td>
        <td>90.39476</td>
        <td>9.50762</td>
        <td>4.63189</td>
      </tr>
      <tr>
        <td>Elastic Net with Polynomial Features (degree 4)</td>
        <td>0.75917</td>
        <td>28.43818</td>
        <td>5.33275</td>
        <td>3.32673</td>
      </tr>
      <tr>
        <td>Decision Tree Regression</td>
        <td>0.77732</td>
        <td>26.29485</td>
        <td>5.12785</td>
        <td>2.92504</td>
      </tr>
      <tr>
        <td>Random Forest Regression</td>
        <td>0.84301</td>
        <td>18.53802</td>
        <td>4.30558</td>
        <td>2.24595</td>
      </tr>
      <tr>
        <td rowspan="2">Support Vector Regression</td>
        <td rowspan="2">0.42771</td>
        <td>67.57886</td>
        <td>8.22064</td>
        <td>3.54472</td>
      </tr>
      <tr>
        <td>36.33389</td>
        <td>6.02776</td>
        <td>3.33691</td>
      </tr>
      <tr>
        <td>Sequential Neural Network </td>
        <td>0.79502</td>
        <td>24.20565</td>
        <td>4.91992</td>
        <td>3.04692</td>
      </tr>
    </tbody>
    </table>