<table>
  <tbody>
    <tr>
      <td>Intercept</td>
      <td>0.22119481051553427</td>
    </tr>
    <tr>
      <td>Prev1 </td>
      <td>16.547780</td>
    </tr>
    <tr>
      <td>Prev2 </td>
      <td>-7.397643</td>
    </tr>
    <tr>
      <td>DALYs </td>
      <td>0.049705</td>
    </tr>
    <tr>
      <td>GDP </td>
      <td>0.044089</td>
    </tr>
    <tr>
      <td>Life Expectancy </td>
      <td>0.145769</td>
    </tr>
    <tr>
      <td>Inflation </td>
      <td>-0.004923</td>
    </tr>
    <tr>
      <td>Mortality </td>
      <td>0.026234</td>
    </tr>
    <tr>
      <td rowspan="2">Healthcare expenditure</td>
      <td rowspan="2">-0.039050</td>
    </tr>
    <tr>
    </tr>
    <tr>
      <td>AF </td>
      <td>0.052919</td>
    </tr>
    <tr>
      <td>AS </td>
      <td>0.061712</td>
    </tr>
    <tr>
      <td>EU </td>
      <td>-0.068737</td>
    </tr>
    <tr>
      <td>NA </td>
      <td>-0.016998</td>
    </tr>
    <tr>
      <td>OC </td>
      <td>-0.053462</td>
    </tr>
    <tr>
      <td>SA </td>
      <td>-0.022309</td>
    </tr>
    <tr>
      <td>High </td>
      <td>0.015329</td>
    </tr>
    <tr>
      <td>Low </td>
      <td>-0.030158</td>
    </tr>
    <tr>
      <td>Medium </td>
      <td>-0.063294</td>
    </tr>
    <tr>
      <td>Very High</td>
      <td>0.074775</td>
    </tr>
  </tbody>
</table>

<style>
tr td:first-child {
  text-align: left;
  font-weight: bold;
}
</style>