<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="3">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>hidden_layer_sizes</td>
        <td>(50,)</td>
        <td>(100,)</td>
        <td>(150,)</td>
      </tr>
      <tr>
        <td>activation</td>
        <td colspan="2">identity</td>
        <td>logistic</td>
      </tr>
      <tr>
        <td>solver</td>
        <td colspan="2">lbfgs</td>
        <td>adam</td>
      </tr>
      <tr>
        <td>max_iter</td>
        <td colspan="3">500</td>
      </tr>
    </tbody>
    </table>