<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="3">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>max_features</td>
        <td colspan="3">auto</td>
      </tr>
      <tr>
        <td>max_depth</td>
        <td>100</td>
        <td>120</td>
        <td>150</td>
      </tr>
      <tr>
        <td>min_samples_split</td>
        <td>5</td>
        <td>10</td>
        <td>20</td>
      </tr>
      <tr>
        <td>min_samples_leaf</td>
        <td>1</td>
        <td>5</td>
        <td>10</td>
      </tr>
      <tr>
        <td>max_leaf_nodes</td>
        <td>50</td>
        <td>100</td>
        <td>125</td>
      </tr>
    </tbody>
    </table>