<table>
    <colgroup>
    <col>
    <col>
    <col>
    <col>
    <col>
    </colgroup>
    <thead>
      <tr>
        <th>Pipeline</th>
        <th>Hyperparameter</th>
        <th colspan="3">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td rowspan="4"><br>Elastic Net</td>
        <td>alpha</td>
        <td>0.05</td>
        <td>0.1</td>
        <td>0.5</td>
      </tr>
      <tr>
        <td>l1_ratio</td>
        <td>0.5</td>
        <td>0.75</td>
        <td>1.0</td>
      </tr>
      <tr>
        <td>tol</td>
        <td>0.00001</td>
        <td>0.0001</td>
        <td>0.001</td>
      </tr>
      <tr>
        <td>max_iter</td>
        <td colspan="3">5,000</td>
      </tr>
      <tr>
        <td rowspan="2">Polynomial Features</td>
        <td>degree</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>include_bias</td>
        <td>True</td>
        <td colspan="2">False</td>
      </tr>
    </tbody>
    </table>