<table>
    <tbody>
      <tr>
        <td>Intercept</td>
        <td>0.25190295055289097</td>
      </tr>
      <tr>
        <td>DALYs                   </td>
        <td>2.354790</td>
      </tr>
      <tr>
        <td>GDP                     </td>
        <td>0.4475479</td>
      </tr>
      <tr>
        <td>Life Expectancy </td>
        <td>-0.3226781</td>
      </tr>
      <tr>
        <td>Inflation          </td>
        <td>-0.3919908</td>
      </tr>
      <tr>
        <td>Mortality </td>
        <td>-1.927345</td>
      </tr>
      <tr>
        <td>Healthcare expenditure         </td>
        <td>-1.170903</td>
      </tr>
      <tr>
        <td>AF                     </td>
        <td>5.461093e+12</td>
      </tr>
      <tr>
        <td>AS                     </td>
        <td>5.084628e+12</td>
      </tr>
      <tr>
        <td>EU                     </td>
        <td>4.863591e+12</td>
      </tr>
      <tr>
        <td>NA                     </td>
        <td>3.791603e+12</td>
      </tr>
      <tr>
        <td>OC                     </td>
        <td>2.576027e+12</td>
      </tr>
      <tr>
        <td>SA                     </td>
        <td>2.971740e+12</td>
      </tr>
      <tr>
        <td>High                   </td>
        <td>8.253593e+14</td>
      </tr>
      <tr>
        <td>Low                    </td>
        <td>8.447472e+14</td>
      </tr>
      <tr>
        <td>Medium                 </td>
        <td>8.031996e+14</td>
      </tr>
      <tr>
        <td>Very High</td>
        <td>8.513803e+14</td>
      </tr>
    </tbody>
</table>

<style>
  tr td:first-child {
    text-align: left;
    font-weight: bold;
  }
</style>