<table>
    <thead>
      <tr>
        <th>Hyperparameters</th>
        <th colspan="4">Values</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>n_hidden</td>
        <td>0</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
      </tr>
      <tr>
        <td>activation</td>
        <td>sigmoid</td>
        <td>tanh</td>
        <td>relu</td>
        <td>identity</td>
      </tr>
      <tr>
        <td>n_neurons</td>
        <td colspan="4">continuous list from 1 to 100: 1, 2, 3, …, 100</td>
      </tr>
      <tr>
        <td>learning_rate</td>
        <td colspan="4">continuous reciprocal function from 0.0003 to 0.03</td>
      </tr>
    </tbody>
    </table>