main {
    width: calc(100% - 0em);
    max-width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    /* background-color: rgba(var(--gray-light), 70%); */
}
.prose {
    width: 800px;
    max-width: calc(100% - 2em);
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 3.5em 1.5em;
    color: rgb(var(--gray-dark));
    position: relative;
}
.prose p:last-child{
    margin-bottom: 0.5em;
}
.title {
    margin-bottom: 0.5em;
    padding: 0;
    text-align: left;
    line-height: 1;
    font-weight: bold;
}
hr {
    margin: 1.3em 0;
    border: 0;
    height: 1px;
    background-color: rgba(var(--gray), 30%);
}
section {
    margin-top: 1em;
    /* margin-bottom: 1em; */
    position: relative;
}
section h2 {
    font-weight: bold;
    letter-spacing: 0.06em;
    padding: 0.5em;
    /* margin-bottom: 0.8em; */
    font-size: 1.6em;
}
section h2 span.section-title {
    padding: 0.5em 0.9em;
    background-color: var(--red);
    color: rgb(var(--white));
    /* color: var(--terminal-green); */
    border-radius: 0.4em;
    box-shadow: 0 0 10px rgba(var(--black), 50%);
}

section h2 span.gt {
    font-weight: normal;
    color: var(--terminal-green);
}


.vertical-line {
    position: absolute;
    left: 0;
    top: 0;
    height: calc(100% - 3em);
    border-radius: 0 0 0.5em 0.5em;
    width: 15px;
    margin-left: -1em;
    background-color: var(--red);
    box-shadow: 0 0 10px rgba(var(--black), 50%);	
}
.marker {
    position: absolute;
    left: -35px;
    top: 35px;
    transform: translateY(-50%);
    width: 51px;
    height: 10px;
    background-color: var(--red);
    border-radius: 0%;
    /* border: 1px solid red; */
    /* box-shadow: 2px 0 5px rgba(var(--black), 40%); */
}
.marker-shadow {
    position: absolute;
    left: -35px;
    top: 28px;
    transform: translateY(-50%);
    width: 51px;
    height: 8px;
    background: linear-gradient(to top, rgba(var(--black), 30%), transparent);
    border-radius: 0%;
}
.marker-shadow:first-child {
    top: 42px;
    background: linear-gradient(to top, transparent, rgba(var(--black), 30%));
}
h3 {
    margin: 0.5em 0 0 0;
    padding: 0;
    font-size: 1.25em;
    font-weight: bold;
}
h3:first-child {
    margin-top: 0.2em;
}
.tags {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    justify-content: left;
}
.tag {
    font-size: 14px;
    margin: 0 0.3em 0.5em;
    padding: 0.5em 1em;
    border-radius: 1em;
    color: rgb(var(--black));
    background-color: var(--white);
    border: 2px solid rgb(var(--black));
}
a.tag:hover {
    color: rgb(var(--white));
    background-color: var(--primary);
    border: 2px solid var(--primary);
    box-shadow: 4px 8px 20px rgba(var(--gray), 50%);
}
@media (max-width: 900px) {
    .vertical-line,
    .marker, .marker-shadow{
        display: none;
    }
}
@media (max-width: 780px) {
    body {
		font-size: 16px;
	}
    .tag {
        font-size: 12px;
    }
    .prose{
        padding: 2em 0.5em;
    }
    section h2 {
        padding: 0.5em 0 0.4em 0;
    }
    section h2 span{
        padding: 0.5em;
    }
    .tag {
        margin: 0.6em 0.3em 0em;
    }
}
@media (max-width: 400px) {
    body {
		font-size: 14px;
	}
}